<!DOCTYPE html>
<html>
    <head> 
        <link rel="stylesheet" href="/static/templates/styles/home.css">
        <title>Home Page</title>
    </head>
    <body>
        <h1 id="Title">Private notes</h1>
        <div class="button-container">
            <a href="/user/home/content/new">
                <input id="new" type="button" value="Create">
            </a>
        
            <form action="/user/home/logout" method="post">
                <input id="logout" type="submit" value="Logout">
            </form> 
        </div>
        
        <table>
            <tr class="header">
                    <th>Index</th>
                    <th>Title</th>
                    <th>Content</th>
                </tr>
                {% for item in items %}
                <tr>
                    <td>
                        <a href="/user/home/content/note/{{ item.id }}">{{
                            loop.index }}</a> <!-- Enlace al índice -->
                    </td>
                    <td>{{ item.title }}</td>
                    <td>{{ item.content }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>

    </body>

</html>