<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/templates/styles/init_page.css">
        <title>Sing Up</title>
    </head>
    <body>
        <h1 id="Title">Sign Up</h1>
        <div id="Formulary">
            <form action="/user/register" method="post">
                <input type="text" name="username" placeholder="Enter Username"
                    required>
                <input type="password" name="password"
                    placeholder="Enter Password"
                    required>
                <input id="Submit" type="submit" value="Create account">
            </form>
        </div>
        {% if error %}
        <div id="error">
            <p>{{ error }}</p>
        </div>
        {% endif %}
    </body>
</html>
